<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c476813bb3.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 bg-light">
            {{template "sidebar"}}
        </div>
        <div class="col-md-9">
            <h1 class="mt-4">Welcome to gocrafter</h1>
        </div>
    </div>
</div>

<script src="/static/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
